<div class="desktop-content">

  <div class="header-section">
      <div>
          <img src="assets/images/zeraki-logo.webp" height="100" width="150" alt="">
      </div>
      <div color="home-btn">
          <button style="padding: 6px; cursor: pointer;">
            <span uk-icon="home"></span>
              Home
             </button>
      </div>


  </div>

  <div class="body-section">
      <div class="overlay"></div>
      <div class="uk-position-relative uk-visible-toggle" tabindex="-1" uk-slider>
        <ul class="uk-slider-items uk-child-width-1-1@s uk-grid">
          <li>
                <div class="uk-flex uk-flex-row uk-flex-between">
                    <div class="body-content uk-animation-toggle" uk-slider="autoplay: true; autoplay-interval: 3000;">
                        <div class="uk-animation-slide-bottom-small">
                            <h1 class="font-bold text-head animate__animated animate__bounce" style="font-size: 40px;">Welcome <br>
                                Unlock Your Child's <br> Full Potential with Zeraki
                            </h1>
                            <p class="text-desc">Zeraki brings the best high school teachers home <br>
                                and empowers students to excel in exams and beyond.</p>
                        </div>
                    </div>
                    <div class="body-button body-content uk-animation-toggle">
                        <div class="col-lg-9 uk-animation-slide-bottom-small" data-aos="fade-up" data-aos-delay="500">
                            <form method="post" class="form-box" id="submitEmail" onsubmit="return false" autocomplete="off">
                                <div class="form-group">
                                </div>
                                <div class="form-group text-center">
                                    <h4 class="text-intro">Join Us!</h4>
                                    <button class="demo-btn" mode="ios" routerLink="/auth/login">Register/Request a Demo</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    </div>

  </div>





