.content{
  background-color: #ffffff !important;
  border-radius: 10px;
  padding: 2rem !important;
}

.primary-card{
  background-color: #7CB9E8;
  border-radius: 10px !important;
}

.green-card{
  background-color: #bed600 !important;
  border-radius: 10px !important;
}

.class-card{
  background-color: #7EA3DE;
  border-radius: 10px !important;
}

.demo-chart {
  height: 400px;
}
