<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed': ''">
  <div class="logo-container">
    <button class="logo" (click)="toggleCollapse()">
      <img src="assets/images/zeraki-z.png" alt="Logo" height="25" width="25">
    </button>
    <div class="logo-text" @fadeInOut *ngIf="collapsed" >
      <img src="assets/images/zeraki-logo.webp" alt="Logo" height="30">
    </div>
    <button class="btn-close" @rotate *ngIf="collapsed" (click)="closeSideNav()">
      <i class="fal fa-times close-icon"></i>
    </button>
  </div>

  <!--MENU ITEMS-->
  <div class="scrollwrap scrollwrap-delayed">
    <ul class="sidenav-nav">
      <li class="sidenav-nav-item" *ngFor="let data of navData">
          <a class="sidenav-nav-link" (click)="handleClick(data)"
              *ngIf="data.items && data.items.length > 0"
              [ngClass]="getActiveClass(data)"
          >
              <i class="sidenav-link-icon" [class]="data.icon"></i>
              <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
                  {{data.label}}
              </span>
              <i *ngIf="data.items && collapsed" class="menu-collapse-icon"
                  [ngClass]="!data.expanded ? 'fal fa-angle-right' : 'fal fa-angle-down'"
              ></i>
          </a>

          <a class="sidenav-nav-link"
              *ngIf="!data.items || (data.items && data.items.length === 0)"
              [routerLink]="[data.routerLink]"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}"
              (click)="shrinkItems(data)"
              >
              <i class="sidenav-link-icon" [class]="data.icon"></i>
              <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
                  {{data.label}}
              </span>
          </a>

          <!-- SUB LEVEL MENU ITEMS -->
          <div *ngIf="collapsed && data.items && data.items.length > 0">
            <ul *ngIf="collapsed && data.items && data.items.length > 0"
              [@submenu]="data.expanded
                ? {value: 'visible',
                    params: {transitionParams: '400ms cubic-bezier(0.86, 0, 0.07, 1)', height: '*'}}
                : {value: 'hidden',
                    params: {transitionParams: '400ms cubic-bezier(0.86, 0, 0.07, 1)', height: '0'}}"
                class="sublevel-nav"
              >
                <li *ngFor="let item of data.items" class="sublevel-nav-item">
                    <a class="sublevel-nav-link"
                    (click)="handleClick(item)"
                      *ngIf="item.items && item.items.length > 0"
                      [ngClass]="getActiveClass(item)"
                    >
                      <i class="sublevel-link-icon fa fa-circle"></i>
                      <span class="sublevel-link-text" @fadeInOut
                          *ngIf="collapsed">{{item.label}}</span>
                      <i *ngIf="item.items && collapsed" class="menu-collapse-icon"
                        [ngClass]="!item.expanded ? 'fal fa-angle-right' : 'fal fa-angle-down'"
                      ></i>
                    </a>
                    <a class="sublevel-nav-link"
                      *ngIf="!item.items || (item.items && item.items.length === 0)"
                      [routerLink]="[item.routerLink]"
                      routerLinkActive="active-sublevel"
                      [routerLinkActiveOptions]="{exact: true}"
                    >
                      <i class="sublevel-link-icon fa fa-circle"></i>
                      <span class="sublevel-link-text" @fadeInOut
                         *ngIf="collapsed">{{item.label}}</span>
                    </a>
                    <!-- <div *ngIf="item.items && item.items.length > 0">
                      <app-sublevel-menu
                        [data]="item"
                        [collapsed]="collapsed"
                        [multiple]="multiple"
                        [expanded]="item.expanded"
                      ></app-sublevel-menu>
                    </div> -->
                </li>
              </ul>
          </div>
      </li>
    </ul>
  </div>

</div>
