<div class="uk-flex uk-flex-between">
  <div>
    <h2>Assessments</h2>
  </div>
  <div>
    <a class="uk-button uk-button-primary add-btn uk-button-default" href="#modal-sections" uk-toggle>Add Assessment</a>
      <div id="modal-sections" uk-modal>
          <div class="uk-modal-dialog">
              <button class="uk-modal-close-default" type="button" uk-close></button>
              <div class="uk-modal-header">
                  <h2 class="uk-modal-title">Add New Assessment</h2>
              </div>
              <div class="uk-modal-body">
                <form class="uk-form-stacked">

                  <div class="uk-margin">
                      <label class="uk-form-label" for="form-stacked-text">Title</label>
                      <div class="uk-form-controls">
                          <input class="uk-input" id="form-stacked-text" type="text" placeholder="Some text...">
                      </div>
                  </div>

                  <div class="uk-margin">
                      <label class="uk-form-label" for="form-stacked-select">Select Class</label>
                      <div class="uk-form-controls">
                          <select class="uk-select" id="form-stacked-select">
                              <option>Form 1</option>
                              <option>Form 2</option>
                              <option>Form 3</option>
                              <option>Form 4</option>
                          </select>
                      </div>
                  </div>

                  <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-select">Add file</label>
                  <div class="js-upload uk-placeholder uk-text-center">
                    <span uk-icon="icon: cloud-upload"></span>
                    <span class="uk-text-middle">Attach binaries by dropping them here or</span>
                    <div uk-form-custom>
                        <input type="file" multiple>
                        <span class="uk-link">selecting one</span>
                    </div>
                </div>
                </div>

              </form>
              </div>
              <div class="uk-modal-footer uk-text-right">
                  <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                  <button class="uk-button uk-button-primary add-btn uk-button-default" type="button">Save</button>
              </div>
          </div>
      </div>

  </div>
</div>
<div class="card uk-animation-scale-up">
  <div class="card-head assign-card">
    <div>
      Assignment 1: Introduction to Physics
    </div>
    <div>
      Date Issued: 12/10/2023
    </div>

  </div>
  <div class="card-body assess-body uk-animation-scale-up">
    <div>
      <span class="uk-badge">23</span>
      Submitted
    </div>
    <div>
      <button class="uk-button uk-button-primary view-btn uk-button-small">View Details</button>
    </div>
  </div>
</div>

<div class="card uk-margin-small-top uk-animation-slide-left-small">
  <div class="card-head assign-card">
    <div>
      Assignment 2: Management Maths
    </div>
    <div>
      Date Issued: 17/10/2023
    </div>

  </div>
  <div class="card-body assess-body">
    <div>
      <span class="uk-badge">26</span>
      Submitted
    </div>
    <div>
      <button class="uk-button uk-button-primary view-btn uk-button-small">View Details</button>
    </div>
  </div>

</div>

<div class="card uk-margin-small-top uk-animation-scale-up">
  <div class="card-head assign-card">
    <div>
      Assignment 3: Mathematics for Science
    </div>
    <div>
      Date Issued: 23/10/2023
    </div>

  </div>
  <div class="card-body assess-body">
    <div>
      <span class="uk-badge">23</span>
      Submitted
    </div>
    <div>
      <button class="uk-button uk-button-primary view-btn uk-button-small">View Details</button>
    </div>
  </div>

</div>

