<h2>Welcome <span style="color: #0b475f;">Admin</span></h2>
<div class="content">
  <div class="uk-child-width-1-3@m uk-grid-small uk-grid-match " uk-grid>
    <div>
        <div class="uk-card primary-card uk-card-body uk-animation-scale-up">
            <h3 class="uk-card-title">Total Students</h3>
            <h1 [countUp]="count"></h1>
        </div>
    </div>
    <div>
        <div class="uk-card green-card uk-card-body uk-animation-slide-left-small">
          <div class="uk-card-badge uk-label">All</div>
            <h3 class="uk-card-title">Teachers</h3>
            <h1 [countUp]="count"></h1>
        </div>
    </div>
    <div>
      <div class="uk-card class-card uk-card-body uk-animation-slide-left-small">

          <h3 class="uk-card-title">Total Classes</h3>
          <h1 [countUp]="count"></h1>
      </div>
  </div>
  </div>

  <div class="uk-grid-small uk-child-width-expand@s uk-text-center uk-margin-small-top" uk-grid>
    <app-mixed-line-bar></app-mixed-line-bar>
  </div>

<div class="uk-grid-small uk-child-width-expand@s uk-text-center uk-margin-small-top" uk-grid>
  <app-doughnut></app-doughnut>
  <app-doughnut></app-doughnut>
</div>

<div class="uk-grid-small uk-child-width-expand@s uk-text-center uk-margin-small-top" uk-grid>
  <app-stacked-bar></app-stacked-bar>
</div>


</div>
